<div class="container-fluid main-contain">
	<div class="row main-row">
		{{left-panel action="leftPanelAction"}}
		<div class="col-xs-9 main-panel">
			{{outlet}}
		</div>
		{{render "right-panel"}}
	</div>
</div>
