<div class="col-xs-1 side-panel" id="left-panel">
	<div id="left-panel-content">
		<ul class="nav navbar-nav" id="left-nav-buttons">
			<li>{{#link-to 'posts'}}All Posts{{/link-to}}</li>
	    <li>{{#link-to 'web-development'}}Web Development{{/link-to}}</li>
	    <li>{{#link-to 'unreal-engine'}}Unreal Engine 4{{/link-to}}</li>
	    <li>{{#link-to 'movies-shows'}}Movie/Show Reviews{{/link-to}}</li>
	    <li>{{#link-to 'random-thoughts'}}Random Thoughts{{/link-to}}</li>
	    <li>{{#link-to 'projects'}}Projects{{/link-to}}</li>
	    <li id="final-left-button">{{#link-to 'posts.new'}}Add New Post{{/link-to}}</li>
	  </ul>
	</div>
</div>
