<div class="col-xs-1 side-panel" id="left-panel">
	<div id="left-panel-content">
		<ul class="nav navbar-nav" id="left-nav-buttons">
	    <li>{{#link-to 'posts'}}Web Development{{/link-to}}</li>
	    <li>{{#link-to 'posts'}}Unreal Engine 4{{/link-to}}</li>
	    <li>{{#link-to 'posts'}}Movie/Show Reviews{{/link-to}}</li>
	    <li>{{#link-to 'posts'}}Random Thoughts{{/link-to}}</li>
	    <li>{{#link-to 'posts'}}Projects{{/link-to}}</li>
	    <li id="final-left-button">{{#link-to 'posts.new'}}Add New Post{{/link-to}}</li>
	  </ul>
	</div>
</div>
