<div class="col-xs-2 side-panel" id="right-panel">
	<div class="round">
		{{#link-to 'login'}}<img src="/images/logo_pogo.png" id="logo">{{/link-to}}
	</div>
	<h3 id="name-text">theroseknight</h3>
	<h5 id="name-flair">Dreamer...Programmer...CPA...</h5>
	<p id="flavor-text">Bienvenidos a Miami!  I love to code, with a particular passion for ruby and a blossoming crush on ember.js. I dabble in game design, got my education in life from Hollywood, and nothing I say here should ever be taken seriously. &lt;-- Except that and this --&gt;.  I can also do your taxes for you...because why not? </p>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</div>
